<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
            .mb-3{
                color: blue;
                width: 15%;
                margin-left: 40%
            }
            .btn{
                margin-left: 40%;
            }
        </style>
    </head>
    <body>
        <div class="container">
                    <form margin ="100px" id="users">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
          </form>

          <p id="result"></p>
          </div>

          <script>
            document.getElementById("users").addEventListener("submit", function(event) {
                event.preventDefault();
                
                const username = document.getElementById("username").value;
                const userpassword = document.getElementById('password').value;
                
                // Send the user input to the server for comparison
                fetch(`/compare?username=${encodeURIComponent(username)}&password=${encodeURIComponent(password)}`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById("result").textContent = data.message;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        </script>

    </body>
</html>
